@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  background-color: #faf7f4;
}

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.App-header {
  background-color: #d8cbc4;
  /* font-size: calc(10px + 2vmin);
  color: #0d0d0d;
  padding-left: 0.5rem;
  /* display: flex; */
  width: 100%;
}

.App-logo {
  /* height: 4rem; */
  padding: 0.1rem;
}

.nav {
  /* display: flex;
  flex-wrap: nowrap;
  flex-direction: row; */
  /* justify-content: space-between; */
}
.navbar-collapse a {
  /* Display the links as block elements (one below the other) */
  display: block; 

    /* display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between; */
 
}


/* .nav-link {
  display: inline;
  color: #0d0d0d;
} */

.title {
  background-color: #455359;
  color: #faf7f4;
  /* display: inline-block;  */
  background-size: auto;
  padding: 30px;
}

.green {
  background-color: #455359;
  background-size: auto;
  padding: 50px 0 10px 10px;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 4px;
  background-color: #6a4c39;
}

a {
  text-decoration: none;
  color: inherit;
  padding-right: 2%;
  padding-left: 2%;
}

a:hover {
  background-color: #6a4c39;
  /* padding-top: 1%;
  padding-bottom: 1%; */
  color: #faf7f4 !important;
}

.text-same-line {
  white-space: nowrap; /* Prevent text from wrapping to a new line */
}

.Active {
  font-weight: 700;
}

h1 {
  font-weight: 900;
  font-size: 400%;
  letter-spacing: 0.5rem;
}

h2,
h6 {
  font-family: "Lemonada", sans-serif;
}

h2 {
  font-size: 190%;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

/* HomePageIntro.css */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the image behind other content */
  opacity: 0.1;
}

.background-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color: #f0f0f0; */
  padding: 5px 10px;
  font-size: x-small;
}
